.navbar {
  display: flex;
  flex-direction: row;
  align-self: start;
  align-items: center;
  padding: 20px;
  position: absolute;
  bottom: 86%;
  left: 25px;
  width: 100%;
}

.navbar-logo {
  width: 50px;
  height: 50px;
  margin-right: auto;
}

.navbar-links {
  margin-right: 100%;
  list-style-type: none;
  display: flex;
  gap: 55px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: calc(3px + 2vmin);
  font-weight: 700;
}

.navbar-links a:hover {
  color: #15ad36;
}

@media (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-self: start;
    align-items: center;
    padding: 20px;
    position: absolute;
    bottom: 87%;
    left: 5px;
  }

  .navbar-logo {
    width: 40px;
    height: 40px;
  }

  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 15px;
  }

  .navbar-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: calc(6px + 1vmin);
    font-weight: 600;
  }
}
