.App-header {
  position: relative;
  height: 120vh;
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.Text {
  position: relative;
  z-index: 1;
  margin-left: 100px;
  margin-top: 115px;
}

.Text h1,
.Text p,
.Text h6 {
  margin: 0;
}

.Text h1 {
  font-size: calc(150px + 2vmin);
  color: white;
  letter-spacing: 12px;
}

.Text p {
  letter-spacing: 3px;
}

.Text h3 {
  font-size: calc(10px + 2vmin);
  color: white;
  letter-spacing: 3px;
}

.image-overlay {
  position: absolute;
  right: 0;
  height: 95%;
  width: 95%;
}
