.App-body {
  background-color: white;
  min-height: 100vh;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: black;
  gap: 150px;
}

.image-about {
  left: 0;
  height: 50%;
  width: 50%;
}

.image-about2 {
  display: none;
}

.Text-about {
  margin-top: 80px;
}

.Text-about p {
  margin: 0;
  letter-spacing: 3px;
  font-size: 15px;
  color: #0cde92;
  font-weight: 700;
}

.Text-about h4 {
  margin: 0;
  font-size: 45px;
  letter-spacing: 5px;
  color: #2e2e2e;
}

.Text-about p:nth-of-type(2) {
  margin-right: 100px;
  margin-top: 20px;
  font-size: 12px;
  color: #2e2e2e;
  font-weight: 400;
}

.Text-about p:nth-of-type(3) {
  margin-top: 75px;
  letter-spacing: 3px;
  font-size: 15px;
  color: #0cde92;
  font-weight: 700;
}

.Text-about p:nth-of-type(4) {
  margin-right: 100px;
  margin-top: 15px;
  font-size: 12px;
  color: #2e2e2e;
  font-weight: 400;
}

@media (max-width: 500px) {
  .App-body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 30px;
  }

  .image-about2 {
    display: flex;
    height: 125%;
    width: 95%;
  }

  .image-about {
    display: none;
  }

  .Text-about {
    margin-top: 0px;
  }

  .Text-about p:nth-of-type(2) {
    margin-right: 25px;
    margin-top: 20px;
    font-size: 12px;
    color: #2e2e2e;
    font-weight: 400;
  }

  .Text-about h4 {
    margin: 0;
    font-size: 30px;
    letter-spacing: 5px;
    color: #2e2e2e;
  }

  .Text-about p:nth-of-type(3) {
    margin-top: 50px;
    letter-spacing: 3px;
    font-size: 15px;
    color: #0cde92;
    font-weight: 700;
  }

  .Text-about p:nth-of-type(4) {
    margin-right: 25px;
    margin-top: 15px;
    font-size: 12px;
    color: #2e2e2e;
    font-weight: 400;
  }
}

@media (min-width: 451px) and (max-width: 889px) {
  .App-body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 30px;
  }

  .image-about2 {
    display: flex;
    height: 125%;
    width: 95%;
  }

  .image-about {
    display: none;
  }

  .Text-about {
    margin-top: 0px;
  }

  .Text-about p:nth-of-type(2) {
    margin-right: 25px;
    margin-top: 20px;
    font-size: 12px;
    color: #2e2e2e;
    font-weight: 400;
  }

  .Text-about h4 {
    margin: 0;
    font-size: 30px;
    letter-spacing: 5px;
    color: #2e2e2e;
  }

  .Text-about p:nth-of-type(3) {
    margin-top: 50px;
    letter-spacing: 3px;
    font-size: 15px;
    color: #0cde92;
    font-weight: 700;
  }

  .Text-about p:nth-of-type(4) {
    margin-right: 25px;
    margin-top: 15px;
    font-size: 12px;
    color: #2e2e2e;
    font-weight: 400;
  }
}
